<h1>About Us</h1>
  <p> Cave Johnson founded the company in 1953 for the sole purpose of making shower curtains for the U.S. military. However, after becoming mentally unstable from mercury poisoning in 1978, Johnson created a three-tier research and development plan to make his organization successful. The first two tiers, the Counter-Heimlich Maneuver (a maneuver designed to ensure choking) and the Take-A-Wish Foundation (a program to give the wishes of dying children to unrelated, entirely healthy adults), were commercial failures and led to an investigation of the company by the U.S. Senate. However, when the investigative committee heard of the success of the third tier, a man-sized ad-hoc quantum tunnel through physical space with possible applications as a shower curtain, it recessed permanently and gave Aperture Science an open-ended contract to continue its research. The development of GLaDOS, an artificially intelligent research assistant and disk-operating system, began in 1986 in response to Black Mesa's work on similar portal technology.
    <a href="http://en.wikipedia.org/wiki/Portal_(video_game)#Setting">More Information</a>
  </p>

